<?xml version="1.0"?>
<launch>

  <!-- Robot model -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pura_description)/urdf/pura_real.xacro'"/>
 
  <!-- Send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Rviz for gmapping -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pura_navigation)/rviz/pura_gmapping.rviz"/>  -->

</launch>
