<?xml version="1.0" encoding="UTF-8"?>
<!-- High level launch file for Unit 3 A-Star exercises  -->
<!-- Requires simulation w/robot running -->
<launch>

  <!-- Run the map server to load a pre-made map -->
  <arg name="map_file" default="$(find unit3_pp)/maps/map_unit3_74x74x20cm.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- MOVE_BASE -->
  <include file="$(find unit3_pp)/launch/move_base.launch" />

  <!-- Determine whether to run Rviz or not & set Rviz config file-->
  <arg name="use_rviz" default="true" />
  <arg name="rvizconfig" default="$(find unit3_pp)/rviz/unit3_exercises.rviz"/>
  <!-- Launching Rviz -->
  <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(arg rvizconfig)"/>

  <!-- Start service server that responds with a plan for global path planning -->
  <node pkg="unit3_pp" name="a_star_exercise" type="unit3_astar_exercise_server.py" output="screen"/> 

</launch>
