<?xml version="1.0"?>

<robot name="imu" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="imu">
        <xacro:property name="imu_size_x" value="0.004" />
        <xacro:property name="imu_size_y" value="0.006" />
        <xacro:property name="imu_size_z" value="0.001" />
        <xacro:property name="imu_mass" value="0.00001" />
        <xacro:property name="imu_offset_x" value="0.0095" />
        <xacro:property name="imu_offset_y" value="-0.029" />
        <xacro:property name="imu_offset_z" value="0.0021" />

        <link name="imu_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="${imu_mass}" />
                <inertia ixx="${imu_mass*(imu_size_y*imu_size_y+imu_size_z*imu_size_z)}" ixy="0" ixz="0"
                         iyy="${imu_mass*(imu_size_x*imu_size_x+imu_size_z*imu_size_z)}" iyz="0"
                         izz="${imu_mass*(imu_size_x*imu_size_x+imu_size_y*imu_size_y)}" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="${imu_size_x} ${imu_size_y} ${imu_size_z}" />
                </geometry>
                <material name="red" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="${imu_size_x} ${imu_size_y} ${imu_size_z}" />
                </geometry>
            </collision>
        </link>
        <joint name="imu_joint" type="fixed">
            <parent link="chassis" />
            <child link="imu_link" />
            <origin rpy="0 0 0" xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}"/>
        </joint>
        <gazebo reference="imu_link">
            <turnGravityOff>false</turnGravityOff>
            <material>Gazebo/FlatBlack</material>
        </gazebo>
    </xacro:macro> 

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>/imu/data</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>/imu_data</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>100.0</updateRateHZ>
                <gaussianNoise>0.0025</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>
</robot>
